/* App.css */

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}



/* Adjust main content */
.main-content {
  display: flex;
  margin-top: 4rem; /* Ajusta según el tamaño del TopBar */
  height: calc(100% - 4rem);
}

/* SidePanel styling */
.side-panel {
  width: 250px;
  background-color: #f8f9fa; /* Cambia el color según prefieras */
  border-right: 1px solid #ddd;
  flex-shrink: 0;
  overflow-y: auto;
  position: fixed;
  top: 4rem; /* Debajo del TopBar */
  bottom: 0;
}

/* Content area */
.content-area {
  margin-left: 250px; /* Debe coincidir con el ancho del SidePanel */
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}
.login-prompt{
  margin-left: 80px;
  width: 100%;
  margin-top: -50%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .side-panel {
    width: 200px;
  }
  .content-area {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .side-panel {
    width: 100%;
    position: static;
    margin-bottom: 1rem;
  }
  .content-area {
    margin-left: 0;
  }
}
